:root{
    --while-color: #fff;
    --back-color:#000;
    --text-color:#333;
    --primary-color: #f3a46b;
    --border-color:#DBDBDB;


}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}
.body{
    margin: 0;
}
/* Responsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    /* flex-wrap: wrap; */
    
}
.grid__colum-3{
    width: calc(100% / 3);
    
}
.grid__colum-2{
    width: 50%;
}

/* btn */
.btn{
    min-width: 82px;
    height: 36px;
    border-radius: 20px;
    border: none;
    color: var(--while-color);
    cursor: pointer;
}
/* Responsive :tương ứng kích thước */
/* PC */
@media only screen and (min-width :64em) {
    
}
/* Tablet */
@media only screen and (min-width : 46.25em) and (max-width: 63.975em) {
    
}
/* Mobile */
@media only screen and (max-width: 46.1875em) {
   
   }
/* @media not| only mediatype and (mediafeature and|or|not mediafeature)
1. Keyworkds: only and or
2.Mediatypes: print screen speech all-default 
3. Media Features: min-width max-width...
4.Polyfill*/